<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>acr19550</id>
            <username>acr19550</username>
            <password>3=awbxkqTX6=ve=fEQ+T80OpN1Hqc2XP</password>
        </server>
    </servers>
</settings>
