.classpath
.project
.settings/
.vscode/
dependency-reduced-pom.xml
nbactions.xml
nb-configuration.xml
obj/
target/
extensions.csproj
/functions/cosmosdb-output/local.settings.json
/functions/cosmosdb-output/host.json
/functions/event-hub-trigger-cosmosdb-output/host.json
/functions/event-hub-trigger-cosmosdb-output/local.settings.json
